<div class="card ">
  <div class="card-body">
   <form>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" [formControl]="email"/>
      {{email.value}}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" >Password</label>
      <input type="password" class="form-control" id="password" [formControl]="password" (keydown)="getPassword()" />
      {{password.value}}
    </div>
    <button type="submit" class="btn sub col-12 p-2">Envoyer</button>
  </form>
  </div>
  {{password.errors?.['required']}}
  {{password.errors?.['minlength']}}
</div>
<app-form-foot></app-form-foot>